{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "window": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-console": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }]
  }
}